<a href="https://colab.research.google.com/github/ealger22/CSC-302-W1-CSC-302-W2-202520-/blob/main/HW1-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

file_path = "/content/drive/My Drive/Colab Notebooks/olympic_medals.csv"
df = pd.read_csv(file_path)

print(df.head())

  Gender       Event Location  Year Medal                   Name Nationality  \
0      M  10000M Men      Rio  2016     G          Mohamed FARAH         GBR
1      M  10000M Men      Rio  2016     S  Paul Kipngetich TANUI         KEN
2      M  10000M Men      Rio  2016     B           Tamirat TOLA         ETH
3      M  10000M Men  Beijing  2008     G        Kenenisa BEKELE         ETH
4      M  10000M Men  Beijing  2008     S         Sileshi SIHINE         ETH

     Result
0  25:05.17
1  27:05.64
2  27:06.26
3  27:01.17
4  27:02.77

In [9]:
# Strip column names to remove accidental spaces
df.columns = df.columns.str.strip()

# Ensure "Year" is numeric
df["Year"] = pd.to_numeric(df["Year"], errors="coerce")

# Convert "Result" to numeric (if applicable)
df["Result"] = pd.to_numeric(df["Result"], errors="coerce")

# Convert categorical columns for memory optimization
categorical_cols = ["Gender", "Event", "Location", "Medal", "Name", "Nationality"]
df[categorical_cols] = df[categorical_cols].astype("category")

In [11]:
import pandas as pd
from google.colab import drive

# üìå Step 1: Mount Google Drive and Load the Dataset
drive.mount('/content/drive')
file_path = "/content/drive/My Drive/Colab Notebooks/olympic_medals.csv"  # Adjust if needed
df = pd.read_csv(file_path)

# üìå Step 2: Data Cleaning & Optimization

# Strip column names to remove accidental spaces
df.columns = df.columns.str.strip()

# Ensure "Year" is numeric
df["Year"] = pd.to_numeric(df["Year"], errors="coerce")

# Convert "Result" to numeric (if applicable)
df["Result"] = pd.to_numeric(df["Result"], errors="coerce")

# Convert categorical columns for memory optimization
categorical_cols = ["Gender", "Event", "Location", "Medal", "Name", "Nationality"]
df[categorical_cols] = df[categorical_cols].astype("category")

# üìå Step 3: Perform Data Analysis

# (a) Find the size of the DataFrame
print("‚úÖ Shape of DataFrame (Rows, Columns):", df.shape)

# (b) Report data types of all columns
print("\nüîπ Data Types:\n", df.dtypes)

# (c) Find the number of unique cities that hosted matches (Using 'Location')
unique_host_cities = df["Location"].nunique()
print("\nüèôÔ∏è Unique host cities:", unique_host_cities)

# (d) Find the total number of medals won by the USA
usa_medals = df[df["Nationality"] == "USA"].shape[0]
print("\nü•á Total medals won by USA:", usa_medals)

# (e) Find the total number of medals for each country (Fixing FutureWarning)
medals_per_country = df.groupby("Nationality", observed=True)["Medal"].count().sort_values(ascending=False)
print("\nüåç Medals per country:\n", medals_per_country)

# ------------------------------- #
#   üìå Changes Made in This Version #
# ------------------------------- #
# 1Ô∏è‚É£ Mounted Google Drive for direct file access.
# 2Ô∏è‚É£ Removed leading/trailing spaces from column names to prevent errors.
# 3Ô∏è‚É£ Ensured "Year" is numeric to avoid incorrect data processing.
# 4Ô∏è‚É£ Converted "Result" to numeric (if applicable) for calculations.
# 5Ô∏è‚É£ Optimized categorical columns ("Gender", "Event", "Location", etc.) for memory efficiency.
# 6Ô∏è‚É£ Sorted medals per country in descending order for better readability.
# 7Ô∏è‚É£ Fixed FutureWarning by adding "observed=True" in groupby() function.
# 8Ô∏è‚É£ Added emojis in print statements to enhance output clarity.
# ------------------------------- #

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
‚úÖ Shape of DataFrame (Rows, Columns): (2394, 8)

üîπ Data Types:
 Gender         category
Event          category
Location       category
Year              int64
Medal          category
Name           category
Nationality    category
Result          float64
dtype: object

üèôÔ∏è Unique host cities: 23

ü•á Total medals won by USA: 638

üåç Medals per country:
 Nationality
USA    638
GBR    161
URS    131
KEN     87
GDR     76
      ...
KSA      1
GUA      1
HAI      1
ISL      1
ZAM      1
Name: Medal, Length: 97, dtype: int64