<a href="https://colab.research.google.com/github/ealger22/CSC-302-W1-CSC-302-W2-202520-/blob/main/HW1-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

file_path = "/content/drive/My Drive/Colab Notebooks/olympic_medals.csv"
df = pd.read_csv(file_path)

print(df.head())

  Gender       Event Location  Year Medal                   Name Nationality  \
0      M  10000M Men      Rio  2016     G          Mohamed FARAH         GBR
1      M  10000M Men      Rio  2016     S  Paul Kipngetich TANUI         KEN
2      M  10000M Men      Rio  2016     B           Tamirat TOLA         ETH
3      M  10000M Men  Beijing  2008     G        Kenenisa BEKELE         ETH
4      M  10000M Men  Beijing  2008     S         Sileshi SIHINE         ETH

     Result
0  25:05.17
1  27:05.64
2  27:06.26
3  27:01.17
4  27:02.77

In [6]:
# (a) Find the size of the DataFrame
print("Shape of DataFrame:", df.shape)

# (b) Report data types of all columns
print("Data types:\n", df.dtypes)

# (c) Find the number of unique cities that hosted matches
print("Unique host cities:", df['Location'].nunique())  # I changed 'City' to 'Location' because the column name is different

# (d) Find how many medals the USA team won
usa_medals = df[df['Nationality'] == 'USA'].shape[0]
print("Total medals won by USA:", usa_medals)

# (e) Find the total number of medals for each country
medals_per_country = df.groupby('Nationality')['Medal'].count()
print("Medals per country:\n", medals_per_country)

Shape of DataFrame: (2394, 8)
Data types:
 Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object
Unique host cities: 23
Total medals won by USA: 638
Medals per country:
 Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64